# Copie para .env no local ou coloque nas Variables da Railway
APP_NAME=Fenix
APP_URL=http://localhost:3000
SESSION_SECRET=troque-essa-chave-grande
KICK_CLIENT_ID=cole_seu_client_id_aqui
KICK_CLIENT_SECRET=cole_seu_client_secret_aqui
KICK_REDIRECT_URI=http://localhost:3000/auth/kick/callback
KICK_SCOPES=user:read channel:read
PORT=3000
